# Override some defaults so BT stack is enabled
# and WiFi disabled by default
CONFIG_PYTHON="python2"
CONFIG_WIFI_ENABLED=n
CONFIG_ESP32_TIME_SYSCALL_USE_FRC1=y
CONFIG_DISABLE_BASIC_ROM_CONSOLE=y

#
# Partition Table
#
CONFIG_PARTITION_TABLE_SINGLE_APP=
CONFIG_PARTITION_TABLE_TWO_OTA=
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_CUSTOM_APP_BIN_OFFSET=0x10000
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_APP_OFFSET=0x10000
CONFIG_ESPTOOLPY_FLASHSIZE=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

#
# Bluetooth 
#
CONFIG_BT_ENABLED=y
CONFIG_GATTC_ENABLE=n
CONFIG_BLE_SMP_ENABLE=n
CONFIG_BT_ACL_CONNECTIONS=7

#
# PHY
#
CONFIG_ESP32_PHY_CALIBRATION_AND_DATA_STORAGE=n
