menu "Virkey.com config"

choice
    prompt "Board"
    help
        Selects Virkey target board.
    config VK_BOARD_VK1X
        bool "VIRKEY VK1X"
        help
            Selects Virkey board version 1.x.
    config VK_BOARD_OLIMEX_EVB
        bool "OLIMEX ESP32 EVB"
        help
            Selects Olimex ESP32 evaluation board.
            https://www.olimex.com/Products/IoT/ESP32-EVB/open-source-hardware
    config VK_BOARD_TTGO_MINI_32
        bool "TTGO MINI 32"
        help
            Selects TTGO MINI 32 board.
            http://ttgobbs.com/viewthread.php?tid=14448&extra=&ordertype=1
    config VK_BOARD_GENERIC_A
        bool "GENERIC A"
        help
            Selects generic ESP32 board with free GPIO 0,2,32,33
            GPIO 0  <- Factory reset / Boot loader
            GPIO 2  -> Status LED
            GPIO 32 -> Actuator 0 (Relay 0)
            GPIO 33 -> Actuator 1 (Relay 1)
endchoice

endmenu
