menu "Virkey.com config"

choice
    prompt "Board"
    help
        Selects Virkey target board.
    config VK_BOARD_CUSTOM
        bool "Custom board"
        help
            Selects custom board configuration from main/custom_board.h file.
            See boards.h file to get examples.
    config VK_BOARD_VK1X
        bool "VIRKEY VK1X"
        help
            Selects Virkey board version 1.x.
    config VK_BOARD_OLIMEX_EVB
        bool "OLIMEX ESP32 EVB"
        help
            Selects Olimex ESP32 evaluation board.
            https://www.olimex.com/Products/IoT/ESP32-EVB/open-source-hardware
    config VK_BOARD_ESP32T
        bool "ESP32-T"
        help
            Selects ESP32-T evaluation board.
            http://www.eboxmaker.com/ESP32/esp32-t.html
            
endchoice

endmenu
